{% extends 'base.html' %}
{% block sales_notification %}active{% endblock %}
{% block sales_notification_list %}active{% endblock %}
{% block content %}
{% load static %}
    <div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="{% url 'common:home' %}"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="#">Create Invoice</a></li>
            <li class="active">BMSD Invoice Notification List</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="text-center "><b> BMSD Invoice Notification List</b></h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3 pull-left">
                                <input type="text" class="form-control name_search" placeholder="Search by Name ..." >
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control id_search" placeholder="Search by Invoice No ...">
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control bill_no" placeholder="Search by Bill No ...">
                            </div>
                            <div class="col-md-3">
                                <input type="date" class="form-control date_search" placeholder="Search by Date ...">
                            </div>
                            <hr>
                            <div class="col-md-2 pull-right">
                                <button class="form-control btn btn-primary search">Search</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table align-items-center table-striped table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>S.No</th>
                                        <th>Date</th>
                                        <th>Invoice</th>
                                        <th>Sender</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if not object_list %}
                                    <tr><td colspan="10" class="text-center">No Invoices Found!</td></tr>
                                {% endif %}
                                {% for invoice in object_list %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ invoice.dated|date:"d M Y" }}</td>
                                        <td>{{ invoice.invoice_dho.id|stringformat:"07d" }}</td>
                                        <td>{{ invoice.dho.username|title }} | 
                                        {{ invoice.dho.user_profile.user_type|title }}</td>
                                        {% if invoice.invoice_dho.status_for_accepted == True %}
                                        <td style="color: green;">Accepted</td>
                                        {% else %}
                                        <td style="color: red;">Waiting For Approval</td>
                                        {% endif %}
                                        <td class="text-center">
                                            <input type="hidden" name="invoice_id" value="{{invoice.invoice_dho.id}}">
                                            <a href="{% url 'invoice:invoice_detail' pk=invoice.invoice_dho.id %}"><button title="Invoice Detail" class="btn btn-info btn-xs">View</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if paginator.page_range|length > 1 %}
                            <div class="text-center col-lg-12">
                                <ul class="pagination justify-content-center">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">First</a>
                                        <a href="?page={{ page_obj.previous_page_number }}" title="Previous"><<</a>
                                    {% endif %}
                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}" title="Next">>></a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                    {% endif %}
                                </span>
                                 </ul>
                            <div>
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
<script>
$(function () {
    $('.search').on('click', function () {
        var url = '{% url "invoice:invoice_list" %}';
        window.location.href  = url + '?' + 'customer_name=' + $('.name_search').val() + '&customer_id=' +  $('.id_search').val() + '&date=' +  $('.date_search').val() + '&bill_no=' +  $('.bill_no').val();
    });
})
</script>

<script>
$('#invoice').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

</script>
<style>
  .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;

}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: rgb(106, 142, 174);}
</style>
{% endblock %}