{% extends 'base.html' %}
{% block car_brand %}active{% endblock %}
{% block add_car_brand %}active{% endblock %}
{% block content %}
{% load static %}

<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="{% url 'common:home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Add Company</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-md-6 pull-left">
                <div class="box">
                    <div class="box-header">
                        <h4 class="text-center"><b>Update Product {{object.product_name|title}}</b></h4>
                    </div>
                    <div class="box-body">
                        <form action="{% url 'product:update_product' pk=object.id %}" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="row" style="margin-left: auto; margin-right: auto;">
                                <div class="col-md-6 form-group">
                                <label class="form-control-label" name="category">Companies<span style="color:red">*</span></label>
                                    <select class="form-control form-control-alternative" name="company_name" >
                                    {% for company in companies %}
                                        <option value="{{company.id}}">{{company.name|title}}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row" style="margin-left: auto; margin-right: auto;">
                                <div class="col-md-6  form-group">
                                    <br><br>
                                    <label class="form-control-label"><b>Product Name</b> <span style="color:red">*</span></label>
                                    <input type="text" name="product_name" class="form-control form-control-alternative" value="{{object.product_name}}" required>
                                </div>
                            </div>
                            <div class="row" style="margin-left: auto; margin-right: auto;">
                                <div class="col-md-6  form-group">
                                <label><strong>Unit Type</strong></label>
                                    <input type="text" class="form-control unit_type" name="unit_type" placeholder="Unit Type" value="{{object.unit_type}}" list="unit-list">
                                    <datalist id="unit-list">
                                        <option value="Kilogram"></option>
                                        <option value="Gram"></option>
                                        <option value="Litre"></option>
                                        <option value="Quantity"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div class="row" style="margin-left: auto; margin-right: auto;">
                                <div class="col-md-3  form-group" style="margin-right: auto; margin-left: auto;">
                                    <label class="form-control-label"></label>
                                    <button type="submit" id="add-product"  value="Create" class="btn btn-primary form-control add-product">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}
