{% extends 'base.html' %}
{% block car_brand %}active{% endblock %}
{% block list_car_brand %}active{% endblock %}
{% block content %}
{% load static %}

<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="{% url 'common:home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="{% url 'budget:create_new_budget' %}">Add New Budget</a></li>
            <li class="active">Budget Utilize District List</li>
        </ol>
    </section>
    <br>
    <section class="content">
        <div class="row">
            <div class="col-md-12 form-group">
                <div class="box">
                    <div class="row">
                        <h4 class="text-center"><b>Budget Utilize District List</b></h4>
                        <div style="padding: 20px;">
                            <label><span id="utilize_total_budget" style="color:green; font-size: 22px;">{{budget.budget_amount}}</span></label> 
                        </div>
                        <div style="padding: 20px;">
                            <!-- <label><span id="start_dated" style="color:green; font-size: 22px;">{{budget.start_dated|date }}</span></label>  -->
                            <input type="text" name="start_dated" id="start_dated" value="{{budget.start_dated|date }}" readonly>
                        </div>
                        <div style="padding: 20px;">
                            <!-- <label><span id="end_dated" style="color:green; font-size: 22px;">{{budget.end_dated|date }}</span></label>  -->
                            <input type="text" name="end_dated" id="end_dated" value="{{budget.end_dated|date }}" readonly>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 pull-left">
                                <input type="text" class="form-control car_brand_name" placeholder="Search by Name ..." >
                            </div>
                            <div class="col-md-2 pull-right">
                                <button class="form-control btn btn-primary search">Search</button>
                            </div>
                            <br><br>
                            <hr>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table align-items-center table-striped table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr >
                                    <th>S.No</th>
                                    <th>District | City</th>
                                    <th>Budget District Amount</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for district in district %}
                                <tr class="item-row">
                                    <td>{{forloop.counter}}</td>
                                    <td class = "district"><input type="text" class="form-control form-control-alternative" id="district" name="district" value="{{district.name}}" readonly></td>
                                    <td class = "district_budget_amount"><input type="text" id="district_budget_amount" class="form-control form-control-alternative " name="district_budget_amount" ></td>
                                </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                            <a href="#"><button type="button" id="add-company add-product" class="btn btn-primary add-product" data-toggle="modal" data-target="#myModal"  id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">Distribute Budget </button></a>

                            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Aunthenticate</h4>
                    </div>
                    <div class="box-body">
                        <form action="#" method="post">
                        {% csrf_token %}
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" id="password" class="form-control" placeholder="Password" name="password">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-xs-4">
                                <button type="button" id="aunthenticate" class="btn btn-primary btn-block btn-flat">Submit</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>
                            {% if paginator.page_range|length > 1 %}
                            <div class="text-center col-lg-12">
                                <ul class="pagination justify-content-center">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">First</a>
                                        <a href="?page={{ page_obj.previous_page_number }}" title="Previous"><<</a>
                                    {% endif %}
                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.next_page_number }}" title="Next">>></a>
                                        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                                    {% endif %}
                                </span>
                                 </ul>
                            <div>
                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>
                            </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
<script>
$(function () {
    $('.search').on('click', function () {
        var url = '{% url "common:list_district" %}';
        window.location.href  = url + '?' + 'car_brand_name=' + $('.car_brand_name').val();
    });

     $(document).on('keyup', '#district_budget_amount', function () {
        let This = $(this);
        let amount = 0;
        let totalAmount = parseInt($('#utilize_total_budget').text());
        console.log(totalAmount);
        $('.item-row').each(function(){
            if($(this).find('#district_budget_amount').val() != ""){
                amount += parseInt($(this).find('#district_budget_amount').val());
                if(amount > totalAmount){
                   This.val('');
                    alert('hoossssssssh krooo');
                    return false;
                }
            }
        })
        return false;
     })
     $('body').on('click', '#aunthenticate', function () {
                
                console.log("______________________cm______________")
                console.log("______________________cm______________")
                console.log("________________-ur______________")
                console.log("________________-ur______________")
                console.log("________________-ur______________")
                var items = [];
                $('.item-row').each(function(){
					var districts = {};
                    districts['district'] = $(this).find('#district').val();
                    districts['district_budget_amount'] = $(this).find('#district_budget_amount').val()
                    
                    items.push(districts);
                })
                console.log(items)
                // for (var i=1; i<=$('.item-row').length; i+=1) {
                //     var districts = {};
                //     console.log($('#district').text())
                //     districts['district'] = $('.item-row').eq(i).find('.district').text();
                //     districts['district_budget_amount'] = $('.item-row').eq(i).find('.district_budget_amount').text();
                //     console.log(districts)

                //     if ($('.item-row').eq(i).find('#aunthenticate').val() != "") {
                //         items.push(districts);
                //     }
                // }
                var username = $('#username').val();
                var password = $('#password').val();
                var utilize_total_budget = $('#utilize_total_budget').text();
                var start_dated = $('#start_dated').text();
                console.log(start_dated)
                var end_dated = $('#end_dated').text();
                $.post("{% url 'budget:generate_budget' %}", {
                        username: username,
                        password: password,
                        utilize_total_budget: utilize_total_budget,
                        start_dated: start_dated,
                        end_dated: end_dated,
                        items: JSON.stringify(items)
                    }, function (result, status) {
                        {#window.location.href = '/budget/district/detial/'+ result.budget_id ;#}
                        window.location.href = '/budget/list/';
                    }
                ).fail(function (xhr, status, errors) {
                    console.log(errors)
                    alert('Something is wrong! please check all fields and try again');

                });
            });
})
</script>
<style>
  .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;

}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: rgb(106, 142, 174);}
</style>
{% endblock %}